<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>foodtag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04F0EAFF1E2A55A3005BBCBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F0EB131E2A55A3005BBCBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F0EB1E1E2A55A3005BBCBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
